<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.AssassinG.ScsyERP.User.core.dao.impl.ManufacturerDaoImpl">

	<!-- 用户信息表 -->
	<sql id="t_manufacturer"> t_manufacturer </sql>

	<resultMap id="beanMap" type="Manufacturer" extends="cn.AssassinG.ScsyERP.common.entity.BaseEntity.LoginableEntityMap">
		<result column="address" property="Address" />
		<result column="man_name" property="ManName" />
		<result column="workshops" property="WorkShops" typeHandler="cn.AssassinG.ScsyERP.common.core.dao.MyBatisTypeHandler.HashSetTypeHandler" />
	</resultMap>

	<insert id="insert" parameterType="Manufacturer" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="t_manufacturer"/> (corporation, create_time, update_time, delete_time, is_deleted, name, address, man_name, workshops)
		values (#{Corporation}, now(), now(), NULL , FALSE , #{Name}, #{Address}, #{ManName}, #{WorkShops,typeHandler=cn.AssassinG.ScsyERP.common.core.dao.MyBatisTypeHandler.HashSetTypeHandler})
	</insert>

	<insert id="batchInsert" parameterType="List" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="t_manufacturer"/> (corporation, create_time, update_time, delete_time, is_deleted, name, address, man_name, workshops)
		values
        <foreach collection="list" item="obj" separator=",">
            (#{obj.Corporation}, now(), now(), NULL, FALSE, #{obj.Name}, #{obj.Address}, #{obj.ManName}, #{obj.WorkShops,typeHandler=cn.AssassinG.ScsyERP.common.core.dao.MyBatisTypeHandler.HashSetTypeHandler})
        </foreach>
	</insert>
	
	<update id="update" parameterType="Manufacturer">
		update <include refid="t_manufacturer"/>
		<set>
			update_time = now(),
			name =  #{Name},
			address = #{Address},
			man_name = #{ManName},
			workshops = #{WorkShops,typeHandler=cn.AssassinG.ScsyERP.common.core.dao.MyBatisTypeHandler.HashSetTypeHandler}
		</set>
		<where>
			id = #{Id}
		</where>
	</update>

    <update id="batchUpdate" parameterType="List">
        update <include refid="t_manufacturer"/>
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="list" item="item">
                    when id=#{item.Id} then now()
                </foreach>
            </trim>
            <trim prefix="name =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.Name!=null">
                        when id=#{item.Id} then #{item.Name}
                    </if>
                </foreach>
            </trim>
			<trim prefix="address =case" suffix="end,">
				<foreach collection="list" item="item">
					<if test="item.Address!=null">
						when id=#{item.Id} then #{item.Address}
					</if>
				</foreach>
			</trim>
			<trim prefix="man_name =case" suffix="end,">
				<foreach collection="list" item="item">
					<if test="item.ManName!=null">
						when id=#{item.Id} then #{item.ManName}
					</if>
				</foreach>
			</trim>
			<trim prefix="workshops =case" suffix="end,">
				<foreach collection="list" item="item">
					<if test="item.WorkShops!=null">
						when id=#{item.Id} then #{item.WorkShops,typeHandler=cn.AssassinG.ScsyERP.common.core.dao.MyBatisTypeHandler.HashSetTypeHandler}
					</if>
				</foreach>
			</trim>
        </trim>
        <where>
            <foreach collection="list" separator="or" item="item">
                id=#{item.Id}
            </foreach>
        </where>
    </update>

    <update id="delete" parameterType="Manufacturer">
        update <include refid="t_manufacturer"/>
        <set>
            delete_time = now(),
			update_time = now(),
            is_deleted =  true
        </set>
        <where>
            id = #{Id}
        </where>
    </update>

	<update id="deleteById" parameterType="long">
		update <include refid="t_manufacturer"/>
		<set>
			delete_time = now(),
			update_time = now(),
			is_deleted =  true
		</set>
		<where>
			id = #{Id}
		</where>
	</update>
	
  	<select id="getById" parameterType="long" resultMap="beanMap">
    	select * from <include refid="t_manufacturer"/> where id = #{Id}
  	</select>
  	
  	<select id="listAll" resultMap="beanMap">
    	select * from <include refid="t_manufacturer"/> order by id asc
  	</select>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="Id != null"> and id = #{Id}</if>
		<if test="Corporation != null"> and corporation = #{Corporation}</if>
		<if test="createTimeBegin != null"> and create_time &gt;= #{createTimeBegin}</if>
		<if test="createTimeEnd != null"> and create_time &lt;= #{createTimeEnd}</if>
		<if test="updateTimeBegin != null"> and update_time &gt;= #{updateTimeBegin}</if>
		<if test="updateTimeEnd != null"> and update_time &lt;= #{updateTimeEnd}</if>
		<if test="deleteTimeBegin != null"> and delete_time &gt;= #{deleteTimeBegin}</if>
		<if test="deleteTimeEnd != null"> and delete_time &lt;= #{deleteTimeEnd}</if>
		<if test="IfDeleted != null"> and is_deleted = #{IfDeleted}</if>
		<!-- Like query -->
		<if test="Name != null and Name != ''"> and name like CONCAT(CONCAT('%', #{Name}), '%')</if>
        <if test="Address != null and Address != ''"> and name like CONCAT(CONCAT('%', #{Address}), '%')</if>
	</sql>

	<select id="listBy" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="t_manufacturer"/>
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by id asc]]>
	</select>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="t_manufacturer"/>
		<where>
			<include refid="condition_sql" />
		</where>
		<![CDATA[ order by id asc]]>
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from <include refid="t_manufacturer"/>
		<where>
			<include refid="condition_sql"/>
		</where>
	</select>
	
</mapper>